<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android.meinforme">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:roundIcon="@drawable/icone_logo_meinforme"
        android:icon="@drawable/icone_logo_meinforme"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:allowBackup="false"
        android:supportsRtl="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".views.main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".views.validate"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".views.notices"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            tools:ignore="UnusedAttribute"
            android:name=".views.register_user"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.example.android.meinforme.views.login"/>
        <activity
            android:name=".views.talk_us"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".views.account"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".views.ride"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            tools:ignore="UnusedAttribute"
            android:name=".views.recover_pass"
            android:screenOrientation="portrait"
            android:parentActivityName="com.example.android.meinforme.views.login"/>
        <activity
            android:name=".toinflate.cardetails"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".popup"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.PopupOpaco"/>
    </application>

</manifest>